<h1>index</h1>

<% @user_managements.each do |user_management| %>
 <p>部位</p>
 <%= user_management.name %><br>
 <p>種目</p>
 <%= user_management.email %><br>
 <p>セット数</p>
 <%= user_management.password %>
<% end %>