@charset;

#all_container{
 text-align:center;
}

h1 img{
border:solid 1px #000000;
border-radius:50%;
width:100px;
height:auto;
}

.input-head{
 font-size:15px;

}

.input-space{
 width:300px;
 height:40px;
 font-size:100%;
}

#login-btn{
 width:300px;
 height:40px;
 font-size:15px;
 font-weight:bold;
}