<p> <%= @resource.email %>!</p>

<p>TRECO ログインパスワードリセットのリクエストを受け付けました。</p>

<p>下記のリンクをクリックして、パスワードを再設定してください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに身に覚えのない場合は無視してください。</p>
