<div id="<%= dom_id user_management %>">
  <p>
    <strong>Name:</strong>
    <%= user_management.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user_management.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user_management.password %>
  </p>

</div>
