<h1>Editing user management</h1>

<%= render "form", user_management: @user_management %>

<br>

<div>
  <%= link_to "Show this user management", @user_management %> |
  <%= link_to "Back to user managements", user_managements_path %>
</div>
