<p style="color: green"><%= notice %></p>

<h1>User managements</h1>

<div id="user_managements">
  <% @user_managements.each do |user_management| %>
    <%= render user_management %>
    <p>
      <%= link_to "Show this user management", user_management %>
    </p>
  <% end %>
</div>

<%= link_to "New user management", new_user_management_path %>
